body {
  background-color: #002052;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #000;
  font-size: 8rem;
  color: #00ffac;
}
h2 {
  margin: 30px;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 4px 0px #000;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 4px 0 #000;
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

.play {
  position: relative;
  left: 43rem;
  font-family: 'Lobster';
  bottom: -2rem;
  padding: 10px;
  width: 8rem;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: bold;
  background-color: #32ce62;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: serif;

}
